# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
web-ui/node_modules
web-ui/.nuxt
web-ui/.output
web-ui/.data
blockchain/node_modules
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
